.logo {
  padding: 7px 10px;
}

.logo__image {
  width: 82px;
  height: 30px;
}

.logo__heading {
  @include accessible-hiding();
}

.logo__hint {
  display: block;
  margin-top: 8px;
  color: blue;
}
