.page-header {
  position: relative;
  display: grid;
  grid-template-areas:
    ". firstline ."
    "int int int";
  grid-template-rows: repeat(2, auto);
  grid-template-columns: minmax(0, auto) minmax(auto, 1023px) minmax(0, auto);
}

.page-header__logo {
  grid-area: firstline;
}

.page-header__call-button {
  grid-area: firstline;
  position: absolute;
  top: 0;
  right: 100px;
}

.page-header__menu-buttons {
  grid-area: firstline;
  position: absolute;
  top: 0;
  right: 0;
}

.page-header__interesting {
  grid-area: int;
}

.page-header__areas {
  position: absolute;
  display: none;
}
