.page-footer {
  --uplink-width: 70px;
  display: grid;
  grid-template:
    "nav nav" auto
    "con con" auto
    "soc upl" auto
    "cop cop" auto
    / 1fr 70px;
  grid-row-gap: 1px;
}

.page-footer__navigation {
  grid-area: nav;
  width: 100%;
}

.page-footer__contacts {
  grid-area: con;
  width: 100%;
}

.page-footer__socials {
  grid-area: soc;
}

.page-footer__uplink {
  grid-area: upl;
  width: var(--uplink-width);
}

.page-footer__copyright {
  grid-area: cop;
  width: 100%;
}
