.page-header {
  position: relative;
  display: grid;
  grid-template-areas:
    ". logo ."
    "int int int";
  grid-template-rows: repeat(2, auto);
  grid-template-columns: minmax(0, 1fr) minmax(auto, $page-header-s-max-width) minmax(0, 1fr);

  .no-js & {
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      ". logo ."
      ". menu ."
      "int int int";
  }
}

.page-header__logo {
  @include shadow();
  grid-area: logo;
  margin-bottom: 1px;
}

.page-header__call-button {
  grid-area: logo;
  position: absolute;
  top: 14px;
  right: 70px;
  display: none;

  .no-js & {
    right: 10px;
    display: block;
  }

  .is-hidden & {
    display: block;
  }
}

.page-header__menu-buttons {
  grid-area: logo;
  position: absolute;
  top: 14px;
  right: 10px;
  z-index: 3;

  .no-js & {
    display: none;
  }
}

.page-header__interesting {
  grid-area: int;
}

.page-header__areas {
  grid-area: 1 / 2 / 2 / 3;
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: $page-header-s-max-width;

  .no-js & {
    grid-area: menu;
    position: static;
    z-index: auto;
    max-width: none;
  }
}
