.page-header {
  position: relative;
  display: grid;
  grid-template-areas:
    ". firstline ."
    "int int int";
  grid-template-rows: repeat(2, auto);
  grid-template-columns: minmax(0, 1fr) minmax(auto, $page-header-s-max-width) minmax(0, 1fr);
  grid-row-gap: 1px;
}

.page-header__logo {
  grid-area: firstline;
}

.page-header__call-button {
  grid-area: firstline;
  position: absolute;
  top: 14px;
  right: 70px;
}

.page-header__menu-buttons {
  grid-area: firstline;
  position: absolute;
  top: 14px;
  right: 10px;
}

.page-header__interesting {
  @include shadow(-1px);
  grid-area: int;
}

.page-header__areas {
  grid-area: 2 / 2 / 3 / 3;
  position: absolute;
  z-index: 1;
  width: 100%;

  &.is-hidden {
    display: none;
  }
}
