@each $font-weight-value in map-get($font-properties, font-weights) {
  @each $font-style-value in map-get($font-properties, font-styles) {
    @font-face {
      $font-file-name: #{$font-family}-#{nth($font-weight-value, 2)}-#{$font-style-value};

      font-style: $font-style-value;
      font-weight: nth($font-weight-value, 1);
      font-family: "#{$font-family}";
      font-display: swap;

      src:
        url("../fonts/#{$font-file-name}.woff2") format("woff2"),
        url("../fonts/#{$font-file-name}.woff") format("woff");
    }
  }
}
