// ==============
// Sass variables
// ==============

// Viewport sizing
// ===============

$s-min-width: 320px;

// Typography
// ==========

$font-family: %fontfamily%;
$font-properties: (
  font-styles: (normal, italic),
  font-weights: (
    (400, normal),
    (700, bold),
  ),
);

// Colors
// ======



// Various
// =======
