// ==============
// Sass variables
// ==============

// Viewport sizing
// ===============

$s-min-width: 320px;

// Typography
// ==========

$font-family: microsoftsansserif;
$font-properties: (
  font-styles: normal,
  font-weights: (
    (400, normal),
  ),
);

// Colors
// ======

$light-blue: #f8fff7;
$light-gray: #f5f5f5;

// Various
// =======
