-
  const areas_data = [
    { modifier: 'jeeping', title: 'Джиппинг' },
    { modifier: 'yachts', title: 'Яхты' },
    { modifier:'parachute', title: 'Парашют' },
    { modifier:'diving', title: 'Дайвинг' },
    { modifier:'quadrocycles', title: 'Квадроциклы' },
    { modifier:'tours', title: 'Экскурсии' },
  ];
