-
  const areasList_data = [
    ['jeeping', 'Джиппинг'],
    ['yachts', 'Яхты'],
    ['parachute', 'Парашют'],
    ['diving', 'Дайвинг'],
    ['quadrocycles', 'Квадроциклы'],
    ['tours', 'Экскурсии'],
  ];
