-
  const contactsList_data = {
    tel: { text: '+7 (938) 426-20-00', link: `tel:${phoneNo}` },
    address: { text: '353460, Россия,<br>Краснодарский край, Геленджик' },
    email: { text: 'gelforest@mail.ru', link: 'mailto:gelforest@mail.ru' },
  };
