mixin interesting()
  section.interesting(class=attributes.class)
    .interesting__container
      h2.interesting__heading Наши акции
      .interesting__inner
        .interesting__list
          mixin interesting__item(interestingItem_props)
            .interesting__item(
              class=`interesting__item--${interestingItem_props.number}`
            )
              a.interesting__link(href='#')= interestingItem_props.text
          - for (let i = 1; i <= 3; i++)
            +interesting__item({ number: i, text: `Наименование акции №${i}` })
      .interesting__buttons
