mixin logo(currentPageId)
  .logo(class=attributes.class)
    a.logo__link(href=(currentPageId === 'index' ? null : 'index.html'))
      img.logo__image(src='img/logo--s.png' alt=siteName)
      h1.logo__heading= siteName
