mixin menu-button()
  button.menu-button.menu-button--open(class=`${jsMenuClass}__open-button`)
    span.menu-button__legend Показать меню
  button.menu-button.menu-button--close(
    class=`${jsMenuClass}__close-button`
  ).is-hidden
    span.menu-button__legend Скрыть меню
