mixin menu-buttons()
  .menu-buttons
    button.menu-buttons__item.menu-buttons__item--open(
      class=`${jsMenuClass}__open-button`
    )
      span.menu-buttons__legend Показать меню
    button.menu-buttons__item.menu-buttons__item--close(
      class=`${jsMenuClass}__close-button`
    ).is-hidden
      span.menu-buttons__legend Скрыть меню
