mixin menu-buttons()
  .menu-buttons
    button.menu-buttons__item
      span.menu-buttons__legend.menu-buttons__legend--open
        | Показать список программ
      span.menu-buttons__legend.menu-buttons__legend--close
        | Скрыть список программ
