mixin menu-button()
  - const blockClassname = 'menu-button';
  +button(blockClassname, 'Показать меню')(
    class=[
      `${blockClassname}--open`,
      `${jsMenuClassname}__control-button`,
    ]
  )
  +button(blockClassname, 'Скрыть меню')(
    class=[
      `${blockClassname}--close`,
      `${jsMenuClassname}__control-button`,
      'is-hidden',
    ]
  )
