mixin menu-buttons()
  .menu-buttons
    button.menu-buttons__item(
      class=`${jsMenuClass}__button`
    )
      span.menu-buttons__legend(
        class=`${jsMenuClass}__legend-open`
      ) Показать список программ
      span.menu-buttons__legend(
        class=`${jsMenuClass}__legend-close`
      ) Скрыть список программ

