mixin navigation()
  - const blockClassname = 'navigation';
  nav(class=blockClassname)
    +__heading(blockClassname, 2) Карта сайта
    +__list(blockClassname)
      each value in navigationList_data
        li(class=`${blockClassname}__item`)= value
