mixin navigation(currentPageId)
  section.navigation(class=attributes.class)
    nav.navigation__container
      h2.navigation__heading Карта сайта
      ul.navigation__list
        each item in navigationList_data
          - let [modifier, text] = item;
          li.navigation__item
            a.navigation__link(
              class=[
                `navigation__link--${modifier}`,
                modifier === currentPageId ? 'is-current' : null,
              ]
              href= (modifier === currentPageId ? null : `${modifier}.html`)
            )= text
