mixin page-header(pageHeader_options)
  - const blockClassname = 'page-header';
  header(
    class=[
      blockClassname,
      `${blockClassname}--${pageHeader_options.id}`,
      attributes.class,
    ]
  )
    +__div(blockClassname, 'logo')
      +logo()
    +__div(blockClassname, 'call-button')(class=`${jsMenuClassname}__call-button`)
      +call-button()
    +__div(blockClassname, 'menu-button')
      +menu-button()
    +__section(blockClassname, 'services')
    +__section(blockClassname, 'interesting')
