mixin page-footer(pageFooter_options)
  - const blockClassname = 'page-footer';
  footer(
    class=[
      blockClassname,
      `${blockClassname}--${pageFooter_options.id}`,
    ]
  )&attributes(attributes)
    +__section(blockClassname, 'navigation')
      +navigation(pageFooter_options.id)
    +__section(blockClassname, 'contacts')
      +contacts()
    +__section(blockClassname, 'socials')
      +socials()
    +__div(blockClassname, 'copyright')
      +copyright()
    +__div(blockClassname, 'uplink')
      +uplink()
