mixin page-header(currentPageId)
  header.page-header(class=[`page-header--${currentPageId}`, attributes.class])
    +logo().page-header__logo
    .page-header__call-button(class=`${jsMenuClass}__call-button`)
      +call-button()
    .page-header__menu-buttons
      +menu-buttons()
    +areas().page-header__areas
    +interesting().page-header__interesting
