mixin page-footer(pageFooter_options)
  - const blockClassname = 'page-footer';
  footer(
    class=[
      blockClassname,
      `${blockClassname}--${pageFooter_options.id}`,
    ]
  )&attributes(attributes)
    +__section(blockClassname, 'navigation')
      +navigation()
    +__section(blockClassname, 'contacts')
      +contacts()
    +__section(blockClassname, 'socials')
      +socials()
    +__section(blockClassname, 'copyright')
    +__div(blockClassname, 'top-link')
