mixin page-header(currentPageId)
  header.page-header(class=[
    `page-header--${currentPageId}`,
    attributes.class,
    jsMenuClass,
  ])
    +logo().page-header__logo(class=`${jsMenuClass}__logo`)
    .page-header__call-button(class=`${jsMenuClass}__call-button`)
      +call-button()
    .page-header__menu-buttons
      +menu-buttons()
    section.page-header__areas(class=`${jsMenuClass}__container`)
    +interesting().page-header__interesting
