mixin page-footer(currentPageId)
  footer.page-footer(class=[`page-footer--${currentPageId}`, attributes.class])
    +navigation(currentPageId).page-footer__navigation
    +contacts().page-footer__contacts
    +socials().page-footer__socials
    +copyright().page-footer__copyright
    +uplink().page-footer__uplink
