mixin page-header(pageHeader_options)
  - const blockClassname = 'page-header';
  header(
    class=[
      blockClassname,
      `${blockClassname}--${pageHeader_options.id}`,
    ]
  )&attributes(attributes)
    +__div(blockClassname, 'logo')
      +logo()
    +__div(blockClassname, 'call')
      +call()
    +__div(blockClassname, 'menu-button')
      +menu-button()
