mixin socials()
  section.socials(class=attributes.class)
    h2.socials__heading Мы в социальных сетях
    ul.socials__list
      each item in socialsList_data
        - let [modifier, text] = item;
        li.socials__item
          a.socials__link(
            class=`socials__link--${modifier}`
            href=`https://${modifier}.com/`
          )
            span.socials__link__legend= text
