@keyframes slider-run {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(calc(-100% / 3));
  }

  60% {
    transform: translateX(calc(-100% / 3));
  }

  80% {
    transform: translateX(calc(-200% / 3));
  }

  100% {
    transform: translateX(calc(-200% / 3));
  }
}
