//- Head data

-
  const siteName = '%sitename%';
  const metaData = {
    'description':
      '%description%',
    'author':
      '%author%',
    'viewport':
      'width=device-width, initial-scale=1',
  };

//- Typography

-
  const fontFamilyName = '%fontfamily';
  const fontProperties = {
    weightNames: [
      'regular',
      'bold',
    ],
    styleNames: [
      'normal',
      'italic',
    ],
  };
