//- ================
//- Global variables
//- ================

-
  const siteName = 'Лесные угодья';
  const jsMenuClass = 'js-header-menu';
  const jsSliderClass = 'js-slider';
  const phoneNo = '+79384262000';
