include ../components/_c_areas
include ../components/_c_call-button
include ../components/_c_contacts
include ../components/_c_copyright
include ../components/_c_head
include ../components/_c_interesting
include ../components/_c_logo
include ../components/_c_menu-buttons
include ../components/_c_navigation
include ../components/_c_page-footer
include ../components/_c_page-header
include ../components/_c_service-schedule
include ../components/_c_services
include ../components/_c_socials
include ../components/_c_uplink
