include ../data/_d_areas
include ../data/_d_contacts
include ../data/_d_head
include ../data/_d_interesting
include ../data/_d_navigation
include ../data/_d_service-schedule
include ../data/_d_services
include ../data/_d_socials
