template#services-template
  .services
    .services__headline
      a.services__return-link(href='index.html')
        h3.services__heading
    ul.services__list
      mixin services__item(servicesItemNumber)
        li.services__item
          a.services__link(class=`services__link--${servicesItemNumber}` href='#')
            | #[span.services__title] (#[span.services__price] руб.)
      - for (let i = 1; i <= 4; i += 1)
        +services__item(i)

template#service-schedule-template
  .service-schedule
    ul.service-schedule__list
      - for (let i = 1; i <= 3; i += 1)
        li.service-schedule__item
          a.service-schedule__link(class=`service-schedule__link--${i}`)
            span.services-schedule__legend Показать описание
