include _g_variables
include _g_mixins

block page-variables

include _i_data.pug
include _i_components.pug

doctype html
html(lang='ru')
  +head({
    title: page.title,
  })
  body.page(
    class=`page--${page.id}`
  )
	block page-header
    block page-main
	block page-footer
  block current-page-scripts
