include _g_variables
include _g_mixins

block page-variables

include _i_data.pug
include _i_components.pug

doctype html
html(lang='ru')
  +head({
    title: page.title,
  })
  body.page(
    class=`page--${page.id}`
  )
    +page-header({
      id: page.id,
    })(
      class=[
        'page__header',
        jsMenuClassname,
      ]
    )
    main.page__main
    +page-footer({
      id: page.id,
    })(class='page__footer')
    script(src='js/jquery-3.3.1.js')
    script(src='js/uplink.js')
    block current-page-scripts
