.services
  .services__headline
    a.services__return-link(href='index.html')
      h3.services__heading Заголовок
  ul.services__list
    - for (let i = 1; i <= 4; i += 1)
      li.services__item(class=`services__item--${i}`)
        a.services__link(href='#')
          span.services__title Услуга
          = ' ('
          span.services__price 1000
          = ' руб.)'
        .services__item-content
